<h1 class= "text-center mt-4 text-white" >Cars Index</h1>
<div class="form-group row justify-content-center">
  <%= link_to 'Create new', new_car_path, class: "btn btn-outline-warning mt-4"%>
  </div>
<% @car.each do |f| %>
<div class="container">
    <div class="row justify-content-md-center mt-4">
      <div class="col-8 mt-4">
        <div class="card text-center">
          <div class="card-header">
           <small>Created by: <%= f.user.username %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= f.title  %></h5>
            <p class="card-text"><%= f.description %></p>
            <%= link_to "Edit", edit_car_path(f), class: "btn btn-outline-warning"%>
            <%= link_to "View", car_path(f), class: "btn btn-outline-info"%>
            <%= link_to "Destroy", car_path(f), method: :delete, class: "btn btn-outline-danger"%>
          </div>
          <div class="card-footer text-muted">
            <%= f.created_at %>
          </div>
      </div>
    </div>
  </div>
<% end %>
</div>