<div class="container">
<%= render 'shared/errors', obj: @car %>
  <div class="row justify-content-center">
  <div class="col-10">
  <%= form_with(model: @car, class: "shadow p-3 mb-5 bg-white rounded", local: true) do |f| %>
  <div class="form-group row">
    <div class="col-sm-10 ml-4" ">

    <%= f.label :title, "Title: "%>
    <%= f.text_field :title, class: "form-control shadow rounder"  %>

  </div>
    </div>
  <div class="form-group row">
    <div class="col-sm-10 ml-4">
    <%= f.label :description, "Description: " %><br/>
    <%= f.text_area :description, rows: 10, class: "form-control shadow rounder"  %> 
  </div>
    </div>
    <div class="form-group row justify-content-center">
  <%=f.submit class: "btn btn-outline-warning "%>
  
    </div>
    </div>
        
    <% end %>

  </div>
  
</div>
